{
  "openapi": "3.1.2",
  "info": {
    "title": "Reddit Advertising API",
    "description": "\n## Ads API terms\n\nBy accessing or using the Ads API and/or associated Reddit Data, you are agreeing that you have read, and that you Agree to comply with and to be bound by, the [Ads API Terms](https://business.reddithelp.com/s/article/Reddit-Ads-API-Terms) and all applicable laws and regulations in their entirety without limitation or qualification.\n\nThe Ads API Terms apply to and govern your access to and use of the Ads API and Reddit Data, constitute a legally binding agreement between you and Reddit, and include certain terms that are defined in the [Advertising Platform Terms](https://business.reddithelp.com/s/article/REDDIT-ADVERTISING-PLATFORM-TERMS), [Developer Terms](https://www.redditinc.com/policies/developer-terms), and [User Agreement](https://redditinc.com/policies/user-agreement).\n\nYou may use the Ads API and Reddit Data only in accordance with the Ads API Terms. Use of the Conversions API is subject to the [Advertiser Measurement Program Terms](https://business.reddithelp.com/s/article/Reddit-Business-Tool-Terms) in addition to the same agreements as the Ads API. If you do not agree to the Ads API Terms, and Advertiser Measurement Program Terms as applicable, then you must not access or use the Ads API, Conversions API, or Reddit Data.\n\n\u003Cblockquote\u003E\n\n**Note:** The Reddit Ads API is open to all developers and **does not require allowlisting or approval from Reddit to access**. [Get started with the API](https://ads-api.reddit.com/docs/v3/create-a-developer-application).\n\nAPI partners working on behalf of advertisers can request support by [contacting us](https://support.reddithelp.com/hc/en-us/requests/new?ticket_form_id=50388520825236). See our [supported partners](https://www.business.reddit.com/solutions/find-api-partners-index).\n\u003C/blockquote\u003E\n\n## Overview\n\nThe Reddit Ads API lets advertisers tap into the Reddit Ads Platform to build and manage advertising campaigns and accounts programmatically. By integrating Reddit Ads API into your tooling, you can streamline workflows, reduce operational overhead, and accelerate the creation, optimization, and reporting of Reddit campaigns without needing to step into the Reddit Ads Manager directly.\n\nAll API applications must be authenticated with OAuth2 by [creating a developer application](https://ads-api.reddit.com/docs/v3/create-a-developer-application) and [obtaining access and refresh tokens](https://ads-api.reddit.com/docs/v3/authenticate-your-developer-application).\n\n![v3 ERD diagram](/common/v3/erd-diagram.png)\n\nHere are two popular ways to use the Reddit Ads API:\n\n- **Postman:** A visual client that makes it simpler to set up and start testing requests and responses. This is the fastest way to familiarize yourself with the API if you prefer a point-and-click approach. You can explore our [Postman collections](https://www.postman.com/reddit-ads-api \u0022https://www.postman.com/reddit-ads-api\u0022).\n- **Programmatic access:** Use your preferred programming language or command-line tools to create automations and integrations. This approach is ideal if you want to embed API calls into your workflows or build custom tools.\n\n### User agents\n\nRate-limiting issues often occur if you haven\u0027t set your user agent to a unique descriptor. Many default user agents (like \u0060\u201CPython/urllib\u201D\u0060 or \u0060\u201CJava\u201D\u0060) are drastically limited to encourage unique and descriptive user-agent strings. We recommend following this format for your client\u0027s user agent string:\n\n\u0060\u0060\u0060\n{{Target platform}}:{{Unique app ID}}:{{Version string}} (by /u/{{Your Reddit username}})\n\u0060\u0060\u0060\n\n\u003E **Note:** Including your version number helps us block old buggy or broken versions of your app safely. Just remember to update this string when you update your version number.\n\n\u003Cdetails class=\u0022sl-border sl-border-solid sl-border-canvas-200 sl-rounded-lg sl-p-4\u0022\u003E\u003Csummary\u003EExample\u003C/summary\u003E\n\n\u0060\u0060\u0060\nUser-Agent: android:com.example.myredditapp:v1.2.3 (by /u/kemitche)\n\u0060\u0060\u0060\n\n\u003C/details\u003E\n\n\u003E **Important:** Never lie about your user agent! Don\u0027t pretend to be popular browsers or other bots. We\u0027ll ban anyone caught in the act.\n\n### Pagination\n\nPaginated endpoints respond with a \u0060pagination\u0060 object containing up to 2 fields:\n\n\u003E **Important:** The URLs for these fields should be followed directly. Don\u0027t assume pagination based on the query parameters in the provided URLs.\n\n- **\u0060next_url\u0060:** The full URL to access the next page of the response. If not available, the current page is the final page.\n- **\u0060previous_url\u0060:** The full URL to access the previous page of the response. If not available, the current page is the first page.\n\nAll endpoints that return a list, such as \u0060List Campaigns\u0060 and \u0060Get a Report\u0060, will be paginated.\n\n### Response types\n\nResponse | Description\n--- | ---\n200 | Successfully processed the request.\n400 | Request was invalid. See the client error message for specifics.\n401 | No bearer token or a bad bearer token was provided. Check your application authentication.\n403 | Insufficient authentication scopes or the user doesn\u0027t have permission. Check the client error message for specifics. If it\u0027s a permission issue, ensure the user has the proper permissions assigned to take action.\n404 | Specified resource was not found. Check that correct permissions have been given to the source and that the resource exists.\n429 | Request has exceeded rate limits. For more information on rate limiting and best practices for handling errors, see our [rate limiting reference](/docs/v3/guides/quick-start/rate-limiting).\n500 | Server error while processing events. Try again later or [use our chat agent](https://business.reddithelp.com/s/) if the problem persists.\n\n### Limitations\n\n\u003E **Note:** Future changes may introduce new limitations.\n\n- **Rate limits:** Exceeding request limits may result in temporary throttling.\n- **Functionality restrictions:** Unless explicitly stated, alpha or beta products aren\u0027t supported in the Reddit Ads API.\n",
    "version": "3",
    "x-logo": {
      "url": "https://www.redditstatic.com/desktop2x/img/favicon/favicon-32x32.png"
    }
  },
  "servers": [
    {
      "url": "https://ads-api.reddit.com/api/v3",
      "description": "Reddit AdsAPI Production"
    }
  ],
  "paths": {
    "/ad_accounts/{adAccountId}": {
      "get": {
        "tags": [
          "Ad Accounts"
        ],
        "summary": "Get Ad Account",
        "description": "Retrieve ad account by ID.\u003Ch2\u003ERate Limit\u003C/h2\u003E\n        \u003Cdiv\u003E\u003Ca href=\u0022/ratelimits/Campaign Management Read\u0022\u003ESee the rate limits for \u003Cstrong\u003ECampaign Management Read\u003C/strong\u003E\u003C/a\u003E\u003C/div\u003E\u003Cbr\u003E\n        \u003Cdetails class=\u0022sl-panel sl-outline-none sl-w-full sl-rounded-lg sl-border\u0022\u003E\n            \u003Csummary\n                class=\u0022sl-panel__titlebar sl-flex sl-items-center sl-relative focus:sl-z-10 sl-text-base sl-leading-none sl-font-medium sl-pr-4 sl-pl-3 sl-border-input focus:sl-border-primary sl-cursor-pointer sl-select-none\u0022\u003E\n                \u003Cdiv class=\u0022sl-flex sl-flex-1 sl-items-center sl-h-lg\u0022\u003E\n                    \u003Cdiv class=\u0022sl-flex sl-items-center sl-mr-1.5\u0022\u003E\n                        \u003Csvg aria-hidden=\u0022true\u0022 focusable=\u0022false\u0022 data-prefix=\u0022fas\u0022 data-icon=\u0022chevron-down\u0022\n                            class=\u0022svg-inline--fa fa-chevron-down fa-fw fa-sm sl-icon\u0022 role=\u0022img\u0022\n                            xmlns=\u0022http://www.w3.org/2000/svg\u0022 viewBox=\u00220 0 448 512\u0022\u003E\n                            \u003Cpath fill=\u0022currentColor\u0022\n                                d=\u0022M224 416c-8.188 0-16.38-3.125-22.62-9.375l-192-192c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L224 338.8l169.4-169.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-192 192C240.4 412.9 232.2 416 224 416z\u0022\u003E\n                            \u003C/path\u003E\n                        \u003C/svg\u003E\n                    \u003C/div\u003E\n                    Policy Slug: \u003Cspan class=\u0022sl-font-mono sl-font-medium sl-mx-0.5 sl-px-1 sl-py-0.5 sl-bg-code sl-text-on-code sl-rounded sl-border\u0022 style=\u0022font-size: 0.8125em;\u0022\u003E ads-campaign-management-read\u003C/span\u003E\n                \u003C/div\u003E\n            \u003C/summary\u003E\n            \u003Cdiv class=\u0022sl-panel__content-wrapper sl-border-t\u0022 role=\u0022region\u0022\u003E\n                \u003Cdiv class=\u0022sl-panel__content sl-p-4\u0022\u003E\n                    \u003Cdiv class=\u0022sl--m-2\u0022\u003E\n                        \u003Cdiv\u003E\n                            \u003Cdiv class=\u0022sl-m-2 sl-p-2 sl-border\u0022\u003E\n                                \u003Cdiv class=\u0022sl-prose sl-markdown-viewer\u0022 style=\u0022font-size: 12px;\u0022\u003E\n                                    \u003Cul\u003E\n                                        \u003Cli\u003EWindow: 60 seconds\u003C/li\u003E\n                                        \u003Cli\u003EQuota: 400 requests\u003C/li\u003E\n                                    \u003C/ul\u003E\n                                \u003C/div\u003E\n                            \u003C/div\u003E\n                        \u003C/div\u003E\n                    \u003C/div\u003E\n                \u003C/div\u003E\n            \u003C/div\u003E\n        \u003C/details\u003E\u003Cbr\u003E",
        "operationId": "GetAdAccount",
        "parameters": [
          {
            "name": "adAccountId",
            "in": "path",
            "description": "The ad account ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "An ad account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAdAccountResponse"
                }
              }
            }
          },
          "401": {
            "description": "No bearer token or a bad bearer token was provided.",
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Insufficient authentication scopes.",
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "The specified resource was not found.",
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "description": "Too many requests. See [Rate Limiting](/docs/v3/guides/quick-start/rate-limiting) for header details and best practices.",
            "$ref": "#/components/responses/TooManyRequests"
          },
          "5XX": {
            "description": "Server error.",
            "$ref": "#/components/responses/ServerError"
          }
        },
        "security": [
          {
            "RedditAPIKey": [
              "adsread"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "Ad Accounts"
        ],
        "summary": "Update Ad Account",
        "description": "Update an ad account.\u003Ch2\u003ERate Limit\u003C/h2\u003E\n        \u003Cdiv\u003E\u003Ca href=\u0022/ratelimits/Campaign Management Write\u0022\u003ESee the rate limits for \u003Cstrong\u003ECampaign Management Write\u003C/strong\u003E\u003C/a\u003E\u003C/div\u003E\u003Cbr\u003E\n        \u003Cdetails class=\u0022sl-panel sl-outline-none sl-w-full sl-rounded-lg sl-border\u0022\u003E\n            \u003Csummary\n                class=\u0022sl-panel__titlebar sl-flex sl-items-center sl-relative focus:sl-z-10 sl-text-base sl-leading-none sl-font-medium sl-pr-4 sl-pl-3 sl-border-input focus:sl-border-primary sl-cursor-pointer sl-select-none\u0022\u003E\n                \u003Cdiv class=\u0022sl-flex sl-flex-1 sl-items-center sl-h-lg\u0022\u003E\n                    \u003Cdiv class=\u0022sl-flex sl-items-center sl-mr-1.5\u0022\u003E\n                        \u003Csvg aria-hidden=\u0022true\u0022 focusable=\u0022false\u0022 data-prefix=\u0022fas\u0022 data-icon=\u0022chevron-down\u0022\n                            class=\u0022svg-inline--fa fa-chevron-down fa-fw fa-sm sl-icon\u0022 role=\u0022img\u0022\n                            xmlns=\u0022http://www.w3.org/2000/svg\u0022 viewBox=\u00220 0 448 512\u0022\u003E\n                            \u003Cpath fill=\u0022currentColor\u0022\n                                d=\u0022M224 416c-8.188 0-16.38-3.125-22.62-9.375l-192-192c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L224 338.8l169.4-169.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-192 192C240.4 412.9 232.2 416 224 416z\u0022\u003E\n                            \u003C/path\u003E\n                        \u003C/svg\u003E\n                    \u003C/div\u003E\n                    Policy Slug: \u003Cspan class=\u0022sl-font-mono sl-font-medium sl-mx-0.5 sl-px-1 sl-py-0.5 sl-bg-code sl-text-on-code sl-rounded sl-border\u0022 style=\u0022font-size: 0.8125em;\u0022\u003E ads-campaign-management-write\u003C/span\u003E\n                \u003C/div\u003E\n            \u003C/summary\u003E\n            \u003Cdiv class=\u0022sl-panel__content-wrapper sl-border-t\u0022 role=\u0022region\u0022\u003E\n                \u003Cdiv class=\u0022sl-panel__content sl-p-4\u0022\u003E\n                    \u003Cdiv class=\u0022sl--m-2\u0022\u003E\n                        \u003Cdiv\u003E\n                            \u003Cdiv class=\u0022sl-m-2 sl-p-2 sl-border\u0022\u003E\n                                \u003Cdiv class=\u0022sl-prose sl-markdown-viewer\u0022 style=\u0022font-size: 12px;\u0022\u003E\n                                    \u003Cul\u003E\n                                        \u003Cli\u003EWindow: 60 seconds\u003C/li\u003E\n                                        \u003Cli\u003EQuota: 200 requests\u003C/li\u003E\n                                    \u003C/ul\u003E\n                                \u003C/div\u003E\n                            \u003C/div\u003E\n                        \u003C/div\u003E\n                    \u003C/div\u003E\n                \u003C/div\u003E\n            \u003C/div\u003E\n        \u003C/details\u003E\u003Cbr\u003E",
        "operationId": "UpdateAdAccount",
        "parameters": [
          {
            "name": "adAccountId",
            "in": "path",
            "description": "The ad account ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "data"
                ],
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/ComponentsSchemaAdAccountWithSpendCaps"
                  }
                },
                "additionalProperties": false
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The updated ad account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateAdAccountResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "description": "No bearer token or a bad bearer token was provided.",
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Insufficient authentication scopes.",
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "The specified resource was not found.",
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "description": "Too many requests. See [Rate Limiting](/docs/v3/guides/quick-start/rate-limiting) for header details and best practices.",
            "$ref": "#/components/responses/TooManyRequests"
          },
          "5XX": {
            "description": "Server error.",
            "$ref": "#/components/responses/ServerError"
          }
        },
        "security": [
          {
            "RedditAPIKey": [
              "adsedit"
            ]
          }
        ]
      }
    },
    "/ad_accounts/{adAccountId}/ad_groups": {
      "get": {
        "tags": [
          "Ad Groups"
        ],
        "summary": "List Ad Groups",
        "description": "Retrieve ad groups by ad account.\u003Ch2\u003ERate Limit\u003C/h2\u003E\n        \u003Cdiv\u003E\u003Ca href=\u0022/ratelimits/Campaign Management Read\u0022\u003ESee the rate limits for \u003Cstrong\u003ECampaign Management Read\u003C/strong\u003E\u003C/a\u003E\u003C/div\u003E\u003Cbr\u003E\n        \u003Cdetails class=\u0022sl-panel sl-outline-none sl-w-full sl-rounded-lg sl-border\u0022\u003E\n            \u003Csummary\n                class=\u0022sl-panel__titlebar sl-flex sl-items-center sl-relative focus:sl-z-10 sl-text-base sl-leading-none sl-font-medium sl-pr-4 sl-pl-3 sl-border-input focus:sl-border-primary sl-cursor-pointer sl-select-none\u0022\u003E\n                \u003Cdiv class=\u0022sl-flex sl-flex-1 sl-items-center sl-h-lg\u0022\u003E\n                    \u003Cdiv class=\u0022sl-flex sl-items-center sl-mr-1.5\u0022\u003E\n                        \u003Csvg aria-hidden=\u0022true\u0022 focusable=\u0022false\u0022 data-prefix=\u0022fas\u0022 data-icon=\u0022chevron-down\u0022\n                            class=\u0022svg-inline--fa fa-chevron-down fa-fw fa-sm sl-icon\u0022 role=\u0022img\u0022\n                            xmlns=\u0022http://www.w3.org/2000/svg\u0022 viewBox=\u00220 0 448 512\u0022\u003E\n                            \u003Cpath fill=\u0022currentColor\u0022\n                                d=\u0022M224 416c-8.188 0-16.38-3.125-22.62-9.375l-192-192c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L224 338.8l169.4-169.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-192 192C240.4 412.9 232.2 416 224 416z\u0022\u003E\n                            \u003C/path\u003E\n                        \u003C/svg\u003E\n                    \u003C/div\u003E\n                    Policy Slug: \u003Cspan class=\u0022sl-font-mono sl-font-medium sl-mx-0.5 sl-px-1 sl-py-0.5 sl-bg-code sl-text-on-code sl-rounded sl-border\u0022 style=\u0022font-size: 0.8125em;\u0022\u003E ads-campaign-management-read\u003C/span\u003E\n                \u003C/div\u003E\n            \u003C/summary\u003E\n            \u003Cdiv class=\u0022sl-panel__content-wrapper sl-border-t\u0022 role=\u0022region\u0022\u003E\n                \u003Cdiv class=\u0022sl-panel__content sl-p-4\u0022\u003E\n                    \u003Cdiv class=\u0022sl--m-2\u0022\u003E\n                        \u003Cdiv\u003E\n                            \u003Cdiv class=\u0022sl-m-2 sl-p-2 sl-border\u0022\u003E\n                                \u003Cdiv class=\u0022sl-prose sl-markdown-viewer\u0022 style=\u0022font-size: 12px;\u0022\u003E\n                                    \u003Cul\u003E\n                                        \u003Cli\u003EWindow: 60 seconds\u003C/li\u003E\n                                        \u003Cli\u003EQuota: 400 requests\u003C/li\u003E\n                                    \u003C/ul\u003E\n                                \u003C/div\u003E\n                            \u003C/div\u003E\n                        \u003C/div\u003E\n                    \u003C/div\u003E\n                \u003C/div\u003E\n            \u003C/div\u003E\n        \u003C/details\u003E\u003Cbr\u003E",
        "operationId": "ListUserAdGroups",
        "parameters": [
          {
            "name": "adAccountId",
            "in": "path",
            "description": "The ad account ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "campaign_id",
            "in": "query",
            "description": "Filter by campaign ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "Filter by ad group IDs.",
            "explode": false,
            "schema": {
              "maxItems": 200,
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": [
              "2179967543",
              "2172797281"
            ]
          },
          {
            "description": "The token for the page to retrieve.",
            "$ref": "#/components/parameters/components_parameters_page_token"
          },
          {
            "description": "The number of items to be returned by page.",
            "$ref": "#/components/parameters/components_parameters_page_size"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of ad groups.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAdGroupsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "description": "No bearer token or a bad bearer token was provided.",
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Insufficient authentication scopes.",
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "The specified resource was not found.",
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "description": "Too many requests. See [Rate Limiting](/docs/v3/guides/quick-start/rate-limiting) for header details and best practices.",
            "$ref": "#/components/responses/TooManyRequests"
          },
          "5XX": {
            "description": "Server error.",
            "$ref": "#/components/responses/ServerError"
          }
        },
        "security": [
          {
            "RedditAPIKey": [
              "adsread"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Ad Groups"
        ],
        "summary": "Create Ad Group",
        "description": "Create an ad group.\nFor an \u0060AUTOMATED\u0060 Reddit Max ad group, follow the [Max campaign setup guide](/docs/v3/guides/programs/campaign/max-campaign-setup).\n\u003E **Important:** Starting July 13th, 2026, \u0060conversion_pixel_id\u0060 is required for all ad groups. Retrieve your Pixel with [\u0060List Pixels by Ad Account\u0060](https://ads-api.reddit.com/docs/v3/operations/List%20Pixels%20By%20Ad%20Account).\n## Optimization goal options\n\u0060optimization_goal\u0060 is required for [conversion](https://business.reddithelp.com/s/article/About-Reddit-Ads-conversion-tracking), [video views](https://business.reddithelp.com/s/article/video-goals), [catalog sales](https://business.reddithelp.com/s/article/catalogs), and [app install](https://business.reddithelp.com/s/article/app-install-ads) campaign objectives.\n\u003Cdetails class=\u0022sl-border sl-border-solid sl-border-canvas-200 sl-rounded-lg sl-p-4\u0022\u003E\n\u003Csummary\u003EConversion\u003C/summary\u003E\n\n  \u003E **Note:** Starting May 5th, \u0060VIEW_CONTENT\u0060, \u0060SEARCH\u0060, and \u0060ADD_TO_WISHLIST\u0060 will no longer be supported for **new ad groups**. Existing ad groups using these goals won\u0027t be affected, but they can\u0027t be created, extended, duplicated, or replicated.\n\n  - \u0060PAGE_VISIT\u0060\n  - \u0060VIEW_CONTENT\u0060\n  - \u0060SEARCH\u0060\n  - \u0060ADD_TO_CART\u0060\n  - \u0060ADD_TO_WISHLIST\u0060\n  - \u0060PURCHASE\u0060\n  - \u0060LEAD\u0060\n  - \u0060SIGN_UP\u0060\n  - \u0060CLICKS\u0060\n\n  \u003E **Note:** \u0060CLICKS\u0060 is only available if neither Pixel nor CAPI has been set up.\n\n\u003C/details\u003E\n\u003Cdetails class=\u0022sl-border sl-border-solid sl-border-canvas-200 sl-rounded-lg sl-p-4\u0022\u003E\n\u003Csummary\u003EVideo views\u003C/summary\u003E\n\n  \u003E **Important:** Starting **March 31st, 2026**, \u0060NULL\u0060 is no longer supported. Set to a valid video goal to prevent issues. Learn about [video goals](https://business.reddithelp.com/s/article/video-goals).\n\n  - \u0060VIDEO_VIEW_6S\u0060\n  - \u0060VIDEO_VIEW_15S\u0060\n\n  \u003E **Note:** \u0060VIDEO_VIEW_15S\u0060 requires a \u0060bid_type\u0060 of \u0060CPV15\u0060.\n\n\u003C/details\u003E\n\u003Cdetails class=\u0022sl-border sl-border-solid sl-border-canvas-200 sl-rounded-lg sl-p-4\u0022\u003E\n\u003Csummary\u003ECatalog sales\u003C/summary\u003E\n\n  - \u0060PURCHASE\u0060\n  - \u0060CLICKS\u0060\n\n  \u003E **Note:** \u0060CLICKS\u0060 is only available if neither Pixel nor CAPI has been set up.\n\n\u003C/details\u003E\n\u003Cdetails class=\u0022sl-border sl-border-solid sl-border-canvas-200 sl-rounded-lg sl-p-4\u0022\u003E\u003Csummary\u003EApp install\u003C/summary\u003E\n\n  \u003E **Note:** Learn more about [app event goals](https://business.reddithelp.com/s/article/app-event-optimization).\n\n  - \u0060MOBILE_CONVERSION_INSTALL\u0060\n  - \u0060MOBILE_CONVERSION_SIGN_UP\u0060\n  - \u0060MOBILE_CONVERSION_ADD_PAYMENT_INFO\u0060\n  - \u0060MOBILE_CONVERSION_ADD_TO_CART\u0060\n  - \u0060MOBILE_CONVERSION_PURCHASE\u0060\n  - \u0060MOBILE_CONVERSION_COMPLETED_TUTORIAL\u0060\n  - \u0060MOBILE_CONVERSION_LEVEL_ACHIEVED\u0060\n  - \u0060MOBILE_CONVERSION_SPEND_CREDITS\u0060\n  - \u0060MOBILE_CONVERSION_REINSTALL\u0060\n  - \u0060MOBILE_CONVERSION_UNLOCK_ACHIEVEMENT\u0060\n  - \u0060MOBILE_CONVERSION_START_TRIAL\u0060\n  - \u0060MOBILE_CONVERSION_SUBSCRIBE\u0060\n  - \u0060MOBILE_CONVERSION_ONBOARD_STARTED\u0060\n  - \u0060MOBILE_CONVERSION_FIRST_TIME_PURCHASE\u0060\n\n\u003C/details\u003E\n\nWhen \u0060shopping_type\u0060 is \u0060DYNAMIC\u0060, see the \u0060targeting\u0060 field description for which fields are applied.\n\u003Ch2\u003ERate Limit\u003C/h2\u003E\n        \u003Cdiv\u003E\u003Ca href=\u0022/ratelimits/Campaign Management Write\u0022\u003ESee the rate limits for \u003Cstrong\u003ECampaign Management Write\u003C/strong\u003E\u003C/a\u003E\u003C/div\u003E\u003Cbr\u003E\n        \u003Cdetails class=\u0022sl-panel sl-outline-none sl-w-full sl-rounded-lg sl-border\u0022\u003E\n            \u003Csummary\n                class=\u0022sl-panel__titlebar sl-flex sl-items-center sl-relative focus:sl-z-10 sl-text-base sl-leading-none sl-font-medium sl-pr-4 sl-pl-3 sl-border-input focus:sl-border-primary sl-cursor-pointer sl-select-none\u0022\u003E\n                \u003Cdiv class=\u0022sl-flex sl-flex-1 sl-items-center sl-h-lg\u0022\u003E\n                    \u003Cdiv class=\u0022sl-flex sl-items-center sl-mr-1.5\u0022\u003E\n                        \u003Csvg aria-hidden=\u0022true\u0022 focusable=\u0022false\u0022 data-prefix=\u0022fas\u0022 data-icon=\u0022chevron-down\u0022\n                            class=\u0022svg-inline--fa fa-chevron-down fa-fw fa-sm sl-icon\u0022 role=\u0022img\u0022\n                            xmlns=\u0022http://www.w3.org/2000/svg\u0022 viewBox=\u00220 0 448 512\u0022\u003E\n                            \u003Cpath fill=\u0022currentColor\u0022\n                                d=\u0022M224 416c-8.188 0-16.38-3.125-22.62-9.375l-192-192c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L224 338.8l169.4-169.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-192 192C240.4 412.9 232.2 416 224 416z\u0022\u003E\n                            \u003C/path\u003E\n                        \u003C/svg\u003E\n                    \u003C/div\u003E\n                    Policy Slug: \u003Cspan class=\u0022sl-font-mono sl-font-medium sl-mx-0.5 sl-px-1 sl-py-0.5 sl-bg-code sl-text-on-code sl-rounded sl-border\u0022 style=\u0022font-size: 0.8125em;\u0022\u003E ads-campaign-management-write\u003C/span\u003E\n                \u003C/div\u003E\n            \u003C/summary\u003E\n            \u003Cdiv class=\u0022sl-panel__content-wrapper sl-border-t\u0022 role=\u0022region\u0022\u003E\n                \u003Cdiv class=\u0022sl-panel__content sl-p-4\u0022\u003E\n                    \u003Cdiv class=\u0022sl--m-2\u0022\u003E\n                        \u003Cdiv\u003E\n                            \u003Cdiv class=\u0022sl-m-2 sl-p-2 sl-border\u0022\u003E\n                                \u003Cdiv class=\u0022sl-prose sl-markdown-viewer\u0022 style=\u0022font-size: 12px;\u0022\u003E\n                                    \u003Cul\u003E\n                                        \u003Cli\u003EWindow: 60 seconds\u003C/li\u003E\n                                        \u003Cli\u003EQuota: 200 requests\u003C/li\u003E\n                                    \u003C/ul\u003E\n                                \u003C/div\u003E\n                            \u003C/div\u003E\n                        \u003C/div\u003E\n                    \u003C/div\u003E\n                \u003C/div\u003E\n            \u003C/div\u003E\n        \u003C/details\u003E\u003Cbr\u003E",
        "operationId": "CreateAdGroup",
        "parameters": [
          {
            "name": "adAccountId",
            "in": "path",
            "description": "The ad account ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "title": "CreateAdGroupRequest",
                "required": [
                  "data"
                ],
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/ComponentsSchemaAdGroupCreate"
                  }
                },
                "additionalProperties": false
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "An ad group.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAdGroupResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "description": "No bearer token or a bad bearer token was provided.",
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Insufficient authentication scopes.",
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "The specified resource was not found.",
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "description": "Too many requests. See [Rate Limiting](/docs/v3/guides/quick-start/rate-limiting) for header details and best practices.",
            "$ref": "#/components/responses/TooManyRequests"
          },
          "5XX": {
            "description": "Server error.",
            "$ref": "#/components/responses/ServerError"
          }
        },
        "security": [
          {
            "RedditAPIKey": [
              "adsedit"
            ]
          }
        ]
      }
    },
    "/ad_accounts/{adAccountId}/ads": {
      "get": {
        "tags": [
          "Ads"
        ],
        "summary": "List Ads",
        "description": "Retrieve ads by ad account.\nFilters combine with logical AND across different query parameters. For multi-value filters, comma-separated values within the same query parameter use logical OR. For example, \u0060?configured_status=ACTIVE,PAUSED\u0026effective_status=PENDING_APPROVAL\u0060 returns ads whose configured status is \u0060ACTIVE\u0060 or \u0060PAUSED\u0060 and whose effective status is \u0060PENDING_APPROVAL\u0060.\n\u003E **Tip:** Only 1 ad will appear for each Max campaign. Learn about [Max campaigns](https://business.reddithelp.com/s/article/max-campaigns).\n\u003Ch2\u003ERate Limit\u003C/h2\u003E\n        \u003Cdiv\u003E\u003Ca href=\u0022/ratelimits/Campaign Management Read\u0022\u003ESee the rate limits for \u003Cstrong\u003ECampaign Management Read\u003C/strong\u003E\u003C/a\u003E\u003C/div\u003E\u003Cbr\u003E\n        \u003Cdetails class=\u0022sl-panel sl-outline-none sl-w-full sl-rounded-lg sl-border\u0022\u003E\n            \u003Csummary\n                class=\u0022sl-panel__titlebar sl-flex sl-items-center sl-relative focus:sl-z-10 sl-text-base sl-leading-none sl-font-medium sl-pr-4 sl-pl-3 sl-border-input focus:sl-border-primary sl-cursor-pointer sl-select-none\u0022\u003E\n                \u003Cdiv class=\u0022sl-flex sl-flex-1 sl-items-center sl-h-lg\u0022\u003E\n                    \u003Cdiv class=\u0022sl-flex sl-items-center sl-mr-1.5\u0022\u003E\n                        \u003Csvg aria-hidden=\u0022true\u0022 focusable=\u0022false\u0022 data-prefix=\u0022fas\u0022 data-icon=\u0022chevron-down\u0022\n                            class=\u0022svg-inline--fa fa-chevron-down fa-fw fa-sm sl-icon\u0022 role=\u0022img\u0022\n                            xmlns=\u0022http://www.w3.org/2000/svg\u0022 viewBox=\u00220 0 448 512\u0022\u003E\n                            \u003Cpath fill=\u0022currentColor\u0022\n                                d=\u0022M224 416c-8.188 0-16.38-3.125-22.62-9.375l-192-192c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L224 338.8l169.4-169.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-192 192C240.4 412.9 232.2 416 224 416z\u0022\u003E\n                            \u003C/path\u003E\n                        \u003C/svg\u003E\n                    \u003C/div\u003E\n                    Policy Slug: \u003Cspan class=\u0022sl-font-mono sl-font-medium sl-mx-0.5 sl-px-1 sl-py-0.5 sl-bg-code sl-text-on-code sl-rounded sl-border\u0022 style=\u0022font-size: 0.8125em;\u0022\u003E ads-campaign-management-read\u003C/span\u003E\n                \u003C/div\u003E\n            \u003C/summary\u003E\n            \u003Cdiv class=\u0022sl-panel__content-wrapper sl-border-t\u0022 role=\u0022region\u0022\u003E\n                \u003Cdiv class=\u0022sl-panel__content sl-p-4\u0022\u003E\n                    \u003Cdiv class=\u0022sl--m-2\u0022\u003E\n                        \u003Cdiv\u003E\n                            \u003Cdiv class=\u0022sl-m-2 sl-p-2 sl-border\u0022\u003E\n                                \u003Cdiv class=\u0022sl-prose sl-markdown-viewer\u0022 style=\u0022font-size: 12px;\u0022\u003E\n                                    \u003Cul\u003E\n                                        \u003Cli\u003EWindow: 60 seconds\u003C/li\u003E\n                                        \u003Cli\u003EQuota: 400 requests\u003C/li\u003E\n                                    \u003C/ul\u003E\n                                \u003C/div\u003E\n                            \u003C/div\u003E\n                        \u003C/div\u003E\n                    \u003C/div\u003E\n                \u003C/div\u003E\n            \u003C/div\u003E\n        \u003C/details\u003E\u003Cbr\u003E",
        "operationId": "ListUserAds",
        "parameters": [
          {
            "name": "adAccountId",
            "in": "path",
            "description": "The ad account ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "Filter by ad IDs.",
            "explode": false,
            "schema": {
              "maxItems": 200,
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": [
              "2179967543",
              "2172797281"
            ]
          },
          {
            "name": "ad_group_id",
            "in": "query",
            "description": "Filter by ad group IDs. Pass multiple values as a comma-separated list\n(for example, \u0060?ad_group_id=2179967543,2172797281\u0060). A maximum of 200\nIDs may be supplied per request.\n",
            "explode": false,
            "schema": {
              "maxItems": 200,
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": [
              "2179967543",
              "2172797281"
            ]
          },
          {
            "name": "campaign_id",
            "in": "query",
            "description": "Filter by campaign IDs. Pass multiple values as a comma-separated list\n(for example, \u0060?campaign_id=2179967543,2172797281\u0060). A maximum of 200\nIDs may be supplied per request.\n",
            "explode": false,
            "schema": {
              "maxItems": 200,
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": [
              "2179967543",
              "2172797281"
            ]
          },
          {
            "name": "configured_status",
            "in": "query",
            "description": "Filter by the ad status set by the ad account. Pass up to 4 values as a\ncomma-separated list (for example, \u0060?configured_status=ACTIVE,PAUSED\u0060).\n",
            "explode": false,
            "schema": {
              "maxItems": 4,
              "uniqueItems": true,
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/ConfiguredStatus2"
              }
            },
            "example": [
              "ACTIVE",
              "PAUSED"
            ]
          },
          {
            "name": "effective_status",
            "in": "query",
            "description": "Filter by the calculated ad status. Pass up to 14 values as a\ncomma-separated list (for example, \u0060?effective_status=ACTIVE,PAUSED\u0060).\n",
            "explode": false,
            "schema": {
              "maxItems": 14,
              "uniqueItems": true,
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/ListUserAdsEffectiveStatusParameterItem"
              }
            },
            "example": [
              "ACTIVE",
              "PAUSED"
            ]
          },
          {
            "description": "The token for the page to retrieve.",
            "$ref": "#/components/parameters/components_parameters_page_token"
          },
          {
            "description": "The number of items to be returned by page.",
            "$ref": "#/components/parameters/components_parameters_page_size"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of ads.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAdsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "description": "No bearer token or a bad bearer token was provided.",
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Insufficient authentication scopes.",
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "The specified resource was not found.",
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "description": "Too many requests. See [Rate Limiting](/docs/v3/guides/quick-start/rate-limiting) for header details and best practices.",
            "$ref": "#/components/responses/TooManyRequests"
          },
          "5XX": {
            "description": "Server error.",
            "$ref": "#/components/responses/ServerError"
          }
        },
        "security": [
          {
            "RedditAPIKey": [
              "adsread"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Ads"
        ],
        "summary": "Create Ad",
        "description": "Create an ad. For a Reddit Max campaign, create a \u0060DYNAMIC_CREATIVE_AD_TEMPLATE\u0060 ad as described in the [Max campaign setup guide](/docs/v3/guides/programs/campaign/max-campaign-setup). For catalog sales ads using \u0060shopping_creative\u0060, see \u0060click_url\u0060 for how it is handled.\n\u003Ch2\u003ERate Limit\u003C/h2\u003E\n        \u003Cdiv\u003E\u003Ca href=\u0022/ratelimits/Campaign Management Write\u0022\u003ESee the rate limits for \u003Cstrong\u003ECampaign Management Write\u003C/strong\u003E\u003C/a\u003E\u003C/div\u003E\u003Cbr\u003E\n        \u003Cdetails class=\u0022sl-panel sl-outline-none sl-w-full sl-rounded-lg sl-border\u0022\u003E\n            \u003Csummary\n                class=\u0022sl-panel__titlebar sl-flex sl-items-center sl-relative focus:sl-z-10 sl-text-base sl-leading-none sl-font-medium sl-pr-4 sl-pl-3 sl-border-input focus:sl-border-primary sl-cursor-pointer sl-select-none\u0022\u003E\n                \u003Cdiv class=\u0022sl-flex sl-flex-1 sl-items-center sl-h-lg\u0022\u003E\n                    \u003Cdiv class=\u0022sl-flex sl-items-center sl-mr-1.5\u0022\u003E\n                        \u003Csvg aria-hidden=\u0022true\u0022 focusable=\u0022false\u0022 data-prefix=\u0022fas\u0022 data-icon=\u0022chevron-down\u0022\n                            class=\u0022svg-inline--fa fa-chevron-down fa-fw fa-sm sl-icon\u0022 role=\u0022img\u0022\n                            xmlns=\u0022http://www.w3.org/2000/svg\u0022 viewBox=\u00220 0 448 512\u0022\u003E\n                            \u003Cpath fill=\u0022currentColor\u0022\n                                d=\u0022M224 416c-8.188 0-16.38-3.125-22.62-9.375l-192-192c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L224 338.8l169.4-169.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-192 192C240.4 412.9 232.2 416 224 416z\u0022\u003E\n                            \u003C/path\u003E\n                        \u003C/svg\u003E\n                    \u003C/div\u003E\n                    Policy Slug: \u003Cspan class=\u0022sl-font-mono sl-font-medium sl-mx-0.5 sl-px-1 sl-py-0.5 sl-bg-code sl-text-on-code sl-rounded sl-border\u0022 style=\u0022font-size: 0.8125em;\u0022\u003E ads-campaign-management-write\u003C/span\u003E\n                \u003C/div\u003E\n            \u003C/summary\u003E\n            \u003Cdiv class=\u0022sl-panel__content-wrapper sl-border-t\u0022 role=\u0022region\u0022\u003E\n                \u003Cdiv class=\u0022sl-panel__content sl-p-4\u0022\u003E\n                    \u003Cdiv class=\u0022sl--m-2\u0022\u003E\n                        \u003Cdiv\u003E\n                            \u003Cdiv class=\u0022sl-m-2 sl-p-2 sl-border\u0022\u003E\n                                \u003Cdiv class=\u0022sl-prose sl-markdown-viewer\u0022 style=\u0022font-size: 12px;\u0022\u003E\n                                    \u003Cul\u003E\n                                        \u003Cli\u003EWindow: 60 seconds\u003C/li\u003E\n                                        \u003Cli\u003EQuota: 200 requests\u003C/li\u003E\n                                    \u003C/ul\u003E\n                                \u003C/div\u003E\n                            \u003C/div\u003E\n                        \u003C/div\u003E\n                    \u003C/div\u003E\n                \u003C/div\u003E\n            \u003C/div\u003E\n        \u003C/details\u003E\u003Cbr\u003E",
        "operationId": "CreateAd",
        "parameters": [
          {
            "name": "adAccountId",
            "in": "path",
            "description": "The ad account ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "data"
                ],
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/ComponentsSchemaAdCreate"
                  }
                },
                "additionalProperties": false
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "An ad.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAdResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "description": "No bearer token or a bad bearer token was provided.",
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Insufficient authentication scopes.",
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "The specified resource was not found.",
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "description": "Too many requests. See [Rate Limiting](/docs/v3/guides/quick-start/rate-limiting) for header details and best practices.",
            "$ref": "#/components/responses/TooManyRequests"
          },
          "5XX": {
            "description": "Server error.",
            "$ref": "#/components/responses/ServerError"
          }
        },
        "security": [
          {
            "RedditAPIKey": [
              "adsedit"
            ]
          }
        ]
      }
    },
    "/ad_accounts/{adAccountId}/apps": {
      "get": {
        "tags": [
          "App"
        ],
        "summary": "List Apps By Ad Account",
        "description": "Retrieve mobile app identifiers previously used in [app install](https://business.reddithelp.com/s/article/app-install-ads) campaigns.\n\nEach returned item includes only the \u0060id\u0060 field (App Store or Google Play identifier).\n\n## Things to know\n\n- The set reflects apps already used in past campaign activity, not every app you may target in the future.\n- \u0060page.token\u0060 and \u0060page.size\u0060 are accepted for consistency with other list endpoints; pagination is not applied yet, so \u0060pagination.next_url\u0060 and \u0060pagination.previous_url\u0060 are always null.\n\u003Ch2\u003ERate Limit\u003C/h2\u003E\n        \u003Cdiv\u003E\u003Ca href=\u0022/ratelimits/Campaign Management Read\u0022\u003ESee the rate limits for \u003Cstrong\u003ECampaign Management Read\u003C/strong\u003E\u003C/a\u003E\u003C/div\u003E\u003Cbr\u003E\n        \u003Cdetails class=\u0022sl-panel sl-outline-none sl-w-full sl-rounded-lg sl-border\u0022\u003E\n            \u003Csummary\n                class=\u0022sl-panel__titlebar sl-flex sl-items-center sl-relative focus:sl-z-10 sl-text-base sl-leading-none sl-font-medium sl-pr-4 sl-pl-3 sl-border-input focus:sl-border-primary sl-cursor-pointer sl-select-none\u0022\u003E\n                \u003Cdiv class=\u0022sl-flex sl-flex-1 sl-items-center sl-h-lg\u0022\u003E\n                    \u003Cdiv class=\u0022sl-flex sl-items-center sl-mr-1.5\u0022\u003E\n                        \u003Csvg aria-hidden=\u0022true\u0022 focusable=\u0022false\u0022 data-prefix=\u0022fas\u0022 data-icon=\u0022chevron-down\u0022\n                            class=\u0022svg-inline--fa fa-chevron-down fa-fw fa-sm sl-icon\u0022 role=\u0022img\u0022\n                            xmlns=\u0022http://www.w3.org/2000/svg\u0022 viewBox=\u00220 0 448 512\u0022\u003E\n                            \u003Cpath fill=\u0022currentColor\u0022\n                                d=\u0022M224 416c-8.188 0-16.38-3.125-22.62-9.375l-192-192c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L224 338.8l169.4-169.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-192 192C240.4 412.9 232.2 416 224 416z\u0022\u003E\n                            \u003C/path\u003E\n                        \u003C/svg\u003E\n                    \u003C/div\u003E\n                    Policy Slug: \u003Cspan class=\u0022sl-font-mono sl-font-medium sl-mx-0.5 sl-px-1 sl-py-0.5 sl-bg-code sl-text-on-code sl-rounded sl-border\u0022 style=\u0022font-size: 0.8125em;\u0022\u003E ads-campaign-management-read\u003C/span\u003E\n                \u003C/div\u003E\n            \u003C/summary\u003E\n            \u003Cdiv class=\u0022sl-panel__content-wrapper sl-border-t\u0022 role=\u0022region\u0022\u003E\n                \u003Cdiv class=\u0022sl-panel__content sl-p-4\u0022\u003E\n                    \u003Cdiv class=\u0022sl--m-2\u0022\u003E\n                        \u003Cdiv\u003E\n                            \u003Cdiv class=\u0022sl-m-2 sl-p-2 sl-border\u0022\u003E\n                                \u003Cdiv class=\u0022sl-prose sl-markdown-viewer\u0022 style=\u0022font-size: 12px;\u0022\u003E\n                                    \u003Cul\u003E\n                                        \u003Cli\u003EWindow: 60 seconds\u003C/li\u003E\n                                        \u003Cli\u003EQuota: 400 requests\u003C/li\u003E\n                                    \u003C/ul\u003E\n                                \u003C/div\u003E\n                            \u003C/div\u003E\n                        \u003C/div\u003E\n                    \u003C/div\u003E\n                \u003C/div\u003E\n            \u003C/div\u003E\n        \u003C/details\u003E\u003Cbr\u003E",
        "operationId": "ListAppsByAdAccount",
        "parameters": [
          {
            "name": "adAccountId",
            "in": "path",
            "description": "The ad account ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The token for the page to retrieve.",
            "$ref": "#/components/parameters/components_parameters_page_token"
          },
          {
            "description": "The number of items to be returned by page.",
            "$ref": "#/components/parameters/components_parameters_page_size"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of apps.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAppsByAdAccountResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "description": "No bearer token or a bad bearer token was provided.",
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Insufficient authentication scopes.",
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "The specified resource was not found.",
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "description": "Too many requests. See [Rate Limiting](/docs/v3/guides/quick-start/rate-limiting) for header details and best practices.",
            "$ref": "#/components/responses/TooManyRequests"
          },
          "5XX": {
            "description": "Server error.",
            "$ref": "#/components/responses/ServerError"
          }
        },
        "security": [
          {
            "RedditAPIKey": [
              "adsread"
            ]
          }
        ]
      }
    },
    "/ad_accounts/{adAccountId}/campaigns": {
      "get": {
        "tags": [
          "Campaigns"
        ],
        "summary": "List Campaigns",
        "description": "Retrieve campaigns by ad account.\u003Ch2\u003ERate Limit\u003C/h2\u003E\n        \u003Cdiv\u003E\u003Ca href=\u0022/ratelimits/Campaign Management Read\u0022\u003ESee the rate limits for \u003Cstrong\u003ECampaign Management Read\u003C/strong\u003E\u003C/a\u003E\u003C/div\u003E\u003Cbr\u003E\n        \u003Cdetails class=\u0022sl-panel sl-outline-none sl-w-full sl-rounded-lg sl-border\u0022\u003E\n            \u003Csummary\n                class=\u0022sl-panel__titlebar sl-flex sl-items-center sl-relative focus:sl-z-10 sl-text-base sl-leading-none sl-font-medium sl-pr-4 sl-pl-3 sl-border-input focus:sl-border-primary sl-cursor-pointer sl-select-none\u0022\u003E\n                \u003Cdiv class=\u0022sl-flex sl-flex-1 sl-items-center sl-h-lg\u0022\u003E\n                    \u003Cdiv class=\u0022sl-flex sl-items-center sl-mr-1.5\u0022\u003E\n                        \u003Csvg aria-hidden=\u0022true\u0022 focusable=\u0022false\u0022 data-prefix=\u0022fas\u0022 data-icon=\u0022chevron-down\u0022\n                            class=\u0022svg-inline--fa fa-chevron-down fa-fw fa-sm sl-icon\u0022 role=\u0022img\u0022\n                            xmlns=\u0022http://www.w3.org/2000/svg\u0022 viewBox=\u00220 0 448 512\u0022\u003E\n                            \u003Cpath fill=\u0022currentColor\u0022\n                                d=\u0022M224 416c-8.188 0-16.38-3.125-22.62-9.375l-192-192c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L224 338.8l169.4-169.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-192 192C240.4 412.9 232.2 416 224 416z\u0022\u003E\n                            \u003C/path\u003E\n                        \u003C/svg\u003E\n                    \u003C/div\u003E\n                    Policy Slug: \u003Cspan class=\u0022sl-font-mono sl-font-medium sl-mx-0.5 sl-px-1 sl-py-0.5 sl-bg-code sl-text-on-code sl-rounded sl-border\u0022 style=\u0022font-size: 0.8125em;\u0022\u003E ads-campaign-management-read\u003C/span\u003E\n                \u003C/div\u003E\n            \u003C/summary\u003E\n            \u003Cdiv class=\u0022sl-panel__content-wrapper sl-border-t\u0022 role=\u0022region\u0022\u003E\n                \u003Cdiv class=\u0022sl-panel__content sl-p-4\u0022\u003E\n                    \u003Cdiv class=\u0022sl--m-2\u0022\u003E\n                        \u003Cdiv\u003E\n                            \u003Cdiv class=\u0022sl-m-2 sl-p-2 sl-border\u0022\u003E\n                                \u003Cdiv class=\u0022sl-prose sl-markdown-viewer\u0022 style=\u0022font-size: 12px;\u0022\u003E\n                                    \u003Cul\u003E\n                                        \u003Cli\u003EWindow: 60 seconds\u003C/li\u003E\n                                        \u003Cli\u003EQuota: 400 requests\u003C/li\u003E\n                                    \u003C/ul\u003E\n                                \u003C/div\u003E\n                            \u003C/div\u003E\n                        \u003C/div\u003E\n                    \u003C/div\u003E\n                \u003C/div\u003E\n            \u003C/div\u003E\n        \u003C/details\u003E\u003Cbr\u003E",
        "operationId": "ListUserCampaigns",
        "parameters": [
          {
            "name": "adAccountId",
            "in": "path",
            "description": "The ad account ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "Filter by campaign IDs.",
            "explode": false,
            "schema": {
              "maxItems": 200,
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": [
              "2179967543",
              "2172797281"
            ]
          },
          {
            "description": "The token for the page to retrieve.",
            "$ref": "#/components/parameters/components_parameters_page_token"
          },
          {
            "description": "The number of items to be returned by page.",
            "$ref": "#/components/parameters/components_parameters_page_size"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of campaigns.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCampaignsResponseBody"
                }
              }
            }
          },
          "401": {
            "description": "No bearer token or a bad bearer token was provided.",
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Insufficient authentication scopes.",
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "The specified resource was not found.",
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "description": "Too many requests. See [Rate Limiting](/docs/v3/guides/quick-start/rate-limiting) for header details and best practices.",
            "$ref": "#/components/responses/TooManyRequests"
          },
          "5XX": {
            "description": "Server error.",
            "$ref": "#/components/responses/ServerError"
          }
        },
        "security": [
          {
            "RedditAPIKey": [
              "adsread"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Create Campaign",
        "description": "Create a campaign. To create an \u0060AUTOMATED\u0060 Reddit Max campaign, follow the [Max campaign setup guide](/docs/v3/guides/programs/campaign/max-campaign-setup).\n\u003E **Important:** Starting July 13th, 2026, \u0060conversion_pixel_id\u0060 is required for all campaign budget optimization campaigns. Retrieve your Pixel with [\u0060List Pixels by Ad Account\u0060](https://ads-api.reddit.com/docs/v3/operations/List%20Pixels%20By%20Ad%20Account).\n\u003Ch2\u003ERate Limit\u003C/h2\u003E\n        \u003Cdiv\u003E\u003Ca href=\u0022/ratelimits/Campaign Management Write\u0022\u003ESee the rate limits for \u003Cstrong\u003ECampaign Management Write\u003C/strong\u003E\u003C/a\u003E\u003C/div\u003E\u003Cbr\u003E\n        \u003Cdetails class=\u0022sl-panel sl-outline-none sl-w-full sl-rounded-lg sl-border\u0022\u003E\n            \u003Csummary\n                class=\u0022sl-panel__titlebar sl-flex sl-items-center sl-relative focus:sl-z-10 sl-text-base sl-leading-none sl-font-medium sl-pr-4 sl-pl-3 sl-border-input focus:sl-border-primary sl-cursor-pointer sl-select-none\u0022\u003E\n                \u003Cdiv class=\u0022sl-flex sl-flex-1 sl-items-center sl-h-lg\u0022\u003E\n                    \u003Cdiv class=\u0022sl-flex sl-items-center sl-mr-1.5\u0022\u003E\n                        \u003Csvg aria-hidden=\u0022true\u0022 focusable=\u0022false\u0022 data-prefix=\u0022fas\u0022 data-icon=\u0022chevron-down\u0022\n                            class=\u0022svg-inline--fa fa-chevron-down fa-fw fa-sm sl-icon\u0022 role=\u0022img\u0022\n                            xmlns=\u0022http://www.w3.org/2000/svg\u0022 viewBox=\u00220 0 448 512\u0022\u003E\n                            \u003Cpath fill=\u0022currentColor\u0022\n                                d=\u0022M224 416c-8.188 0-16.38-3.125-22.62-9.375l-192-192c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L224 338.8l169.4-169.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-192 192C240.4 412.9 232.2 416 224 416z\u0022\u003E\n                            \u003C/path\u003E\n                        \u003C/svg\u003E\n                    \u003C/div\u003E\n                    Policy Slug: \u003Cspan class=\u0022sl-font-mono sl-font-medium sl-mx-0.5 sl-px-1 sl-py-0.5 sl-bg-code sl-text-on-code sl-rounded sl-border\u0022 style=\u0022font-size: 0.8125em;\u0022\u003E ads-campaign-management-write\u003C/span\u003E\n                \u003C/div\u003E\n            \u003C/summary\u003E\n            \u003Cdiv class=\u0022sl-panel__content-wrapper sl-border-t\u0022 role=\u0022region\u0022\u003E\n                \u003Cdiv class=\u0022sl-panel__content sl-p-4\u0022\u003E\n                    \u003Cdiv class=\u0022sl--m-2\u0022\u003E\n                        \u003Cdiv\u003E\n                            \u003Cdiv class=\u0022sl-m-2 sl-p-2 sl-border\u0022\u003E\n                                \u003Cdiv class=\u0022sl-prose sl-markdown-viewer\u0022 style=\u0022font-size: 12px;\u0022\u003E\n                                    \u003Cul\u003E\n                                        \u003Cli\u003EWindow: 60 seconds\u003C/li\u003E\n                                        \u003Cli\u003EQuota: 200 requests\u003C/li\u003E\n                                    \u003C/ul\u003E\n                                \u003C/div\u003E\n                            \u003C/div\u003E\n                        \u003C/div\u003E\n                    \u003C/div\u003E\n                \u003C/div\u003E\n            \u003C/div\u003E\n        \u003C/details\u003E\u003Cbr\u003E",
        "operationId": "CreateCampaign",
        "parameters": [
          {
            "name": "adAccountId",
            "in": "path",
            "description": "The ad account ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "title": "CreateCampaignRequestBody",
                "required": [
                  "data"
                ],
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/ComponentsSchemaCampaignCreate"
                  }
                },
                "additionalProperties": false
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "A campaign.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCampaignResponseBody"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "description": "No bearer token or a bad bearer token was provided.",
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Insufficient authentication scopes.",
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "The specified resource was not found.",
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "description": "Too many requests. See [Rate Limiting](/docs/v3/guides/quick-start/rate-limiting) for header details and best practices.",
            "$ref": "#/components/responses/TooManyRequests"
          },
          "5XX": {
            "description": "Server error.",
            "$ref": "#/components/responses/ServerError"
          }
        },
        "security": [
          {
            "RedditAPIKey": [
              "adsedit"
            ]
          }
        ]
      }
    },
    "/ad_accounts/{adAccountId}/custom_audiences": {
      "get": {
        "tags": [
          "Custom Audiences"
        ],
        "summary": "List User Custom Audiences",
        "description": "Retrieve custom audiences associated with an ad account.\u003Ch2\u003ERate Limit\u003C/h2\u003E\n        \u003Cdiv\u003E\u003Ca href=\u0022/ratelimits/Targeting Taxonomy\u0022\u003ESee the rate limits for \u003Cstrong\u003ETargeting Taxonomy\u003C/strong\u003E\u003C/a\u003E\u003C/div\u003E\u003Cbr\u003E\n        \u003Cdetails class=\u0022sl-panel sl-outline-none sl-w-full sl-rounded-lg sl-border\u0022\u003E\n            \u003Csummary\n                class=\u0022sl-panel__titlebar sl-flex sl-items-center sl-relative focus:sl-z-10 sl-text-base sl-leading-none sl-font-medium sl-pr-4 sl-pl-3 sl-border-input focus:sl-border-primary sl-cursor-pointer sl-select-none\u0022\u003E\n                \u003Cdiv class=\u0022sl-flex sl-flex-1 sl-items-center sl-h-lg\u0022\u003E\n                    \u003Cdiv class=\u0022sl-flex sl-items-center sl-mr-1.5\u0022\u003E\n                        \u003Csvg aria-hidden=\u0022true\u0022 focusable=\u0022false\u0022 data-prefix=\u0022fas\u0022 data-icon=\u0022chevron-down\u0022\n                            class=\u0022svg-inline--fa fa-chevron-down fa-fw fa-sm sl-icon\u0022 role=\u0022img\u0022\n                            xmlns=\u0022http://www.w3.org/2000/svg\u0022 viewBox=\u00220 0 448 512\u0022\u003E\n                            \u003Cpath fill=\u0022currentColor\u0022\n                                d=\u0022M224 416c-8.188 0-16.38-3.125-22.62-9.375l-192-192c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L224 338.8l169.4-169.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-192 192C240.4 412.9 232.2 416 224 416z\u0022\u003E\n                            \u003C/path\u003E\n                        \u003C/svg\u003E\n                    \u003C/div\u003E\n                    Policy Slug: \u003Cspan class=\u0022sl-font-mono sl-font-medium sl-mx-0.5 sl-px-1 sl-py-0.5 sl-bg-code sl-text-on-code sl-rounded sl-border\u0022 style=\u0022font-size: 0.8125em;\u0022\u003E ads-targeting-taxonomy\u003C/span\u003E\n                \u003C/div\u003E\n            \u003C/summary\u003E\n            \u003Cdiv class=\u0022sl-panel__content-wrapper sl-border-t\u0022 role=\u0022region\u0022\u003E\n                \u003Cdiv class=\u0022sl-panel__content sl-p-4\u0022\u003E\n                    \u003Cdiv class=\u0022sl--m-2\u0022\u003E\n                        \u003Cdiv\u003E\n                            \u003Cdiv class=\u0022sl-m-2 sl-p-2 sl-border\u0022\u003E\n                                \u003Cdiv class=\u0022sl-prose sl-markdown-viewer\u0022 style=\u0022font-size: 12px;\u0022\u003E\n                                    \u003Cul\u003E\n                                        \u003Cli\u003EWindow: 60 seconds\u003C/li\u003E\n                                        \u003Cli\u003EQuota: 100 requests\u003C/li\u003E\n                                    \u003C/ul\u003E\n                                \u003C/div\u003E\n                            \u003C/div\u003E\n                        \u003C/div\u003E\n                    \u003C/div\u003E\n                \u003C/div\u003E\n            \u003C/div\u003E\n        \u003C/details\u003E\u003Cbr\u003E",
        "operationId": "ListUserCustomAudiences",
        "parameters": [
          {
            "name": "adAccountId",
            "in": "path",
            "description": "The ad account ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Filter by custom audience name.",
            "schema": {
              "type": "string"
            },
            "examples": {
              "exact_match": {
                "summary": "Filter by exact name match.",
                "value": "=test"
              },
              "substring_match": {
                "summary": "Filter by substring match.",
                "value": "@test"
              }
            }
          },
          {
            "description": "The number of items to be returned by page.",
            "$ref": "#/components/parameters/components_parameters_list_custom_audiences_page_size"
          },
          {
            "description": "The token for the page to retrieve.",
            "$ref": "#/components/parameters/components_parameters_page_token"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of custom audiences.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListUserCustomAudiences200Response"
                }
              }
            }
          },
          "401": {
            "description": "No bearer token or a bad bearer token was provided.",
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Insufficient authentication scopes.",
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "The specified resource was not found.",
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "description": "Too many requests. See [Rate Limiting](/docs/v3/guides/quick-start/rate-limiting) for header details and best practices.",
            "$ref": "#/components/responses/TooManyRequests"
          },
          "5XX": {
            "description": "Server error.",
            "$ref": "#/components/responses/ServerError"
          }
        },
        "security": [
          {
            "RedditAPIKey": [
              "adsread"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Custom Audiences"
        ],
        "summary": "Create Custom Audience",
        "description": "Create a custom audience. Learn more about [managing custom audiences](https://ads-api.reddit.com/docs/v3/manage-customer-lists).\u003Ch2\u003ERate Limit\u003C/h2\u003E\n        \u003Cdiv\u003E\u003Ca href=\u0022/ratelimits/Custom Audiences Ingestion\u0022\u003ESee the rate limits for \u003Cstrong\u003ECustom Audiences Ingestion\u003C/strong\u003E\u003C/a\u003E\u003C/div\u003E\u003Cbr\u003E\n        \u003Cdetails class=\u0022sl-panel sl-outline-none sl-w-full sl-rounded-lg sl-border\u0022\u003E\n            \u003Csummary\n                class=\u0022sl-panel__titlebar sl-flex sl-items-center sl-relative focus:sl-z-10 sl-text-base sl-leading-none sl-font-medium sl-pr-4 sl-pl-3 sl-border-input focus:sl-border-primary sl-cursor-pointer sl-select-none\u0022\u003E\n                \u003Cdiv class=\u0022sl-flex sl-flex-1 sl-items-center sl-h-lg\u0022\u003E\n                    \u003Cdiv class=\u0022sl-flex sl-items-center sl-mr-1.5\u0022\u003E\n                        \u003Csvg aria-hidden=\u0022true\u0022 focusable=\u0022false\u0022 data-prefix=\u0022fas\u0022 data-icon=\u0022chevron-down\u0022\n                            class=\u0022svg-inline--fa fa-chevron-down fa-fw fa-sm sl-icon\u0022 role=\u0022img\u0022\n                            xmlns=\u0022http://www.w3.org/2000/svg\u0022 viewBox=\u00220 0 448 512\u0022\u003E\n                            \u003Cpath fill=\u0022currentColor\u0022\n                                d=\u0022M224 416c-8.188 0-16.38-3.125-22.62-9.375l-192-192c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L224 338.8l169.4-169.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-192 192C240.4 412.9 232.2 416 224 416z\u0022\u003E\n                            \u003C/path\u003E\n                        \u003C/svg\u003E\n                    \u003C/div\u003E\n                    Policy Slug: \u003Cspan class=\u0022sl-font-mono sl-font-medium sl-mx-0.5 sl-px-1 sl-py-0.5 sl-bg-code sl-text-on-code sl-rounded sl-border\u0022 style=\u0022font-size: 0.8125em;\u0022\u003E ads-custom-audience-ingestion\u003C/span\u003E\n                \u003C/div\u003E\n            \u003C/summary\u003E\n            \u003Cdiv class=\u0022sl-panel__content-wrapper sl-border-t\u0022 role=\u0022region\u0022\u003E\n                \u003Cdiv class=\u0022sl-panel__content sl-p-4\u0022\u003E\n                    \u003Cdiv class=\u0022sl--m-2\u0022\u003E\n                        \u003Cdiv\u003E\n                            \u003Cdiv class=\u0022sl-m-2 sl-p-2 sl-border\u0022\u003E\n                                \u003Cdiv class=\u0022sl-prose sl-markdown-viewer\u0022 style=\u0022font-size: 12px;\u0022\u003E\n                                    \u003Cul\u003E\n                                        \u003Cli\u003EWindow: 900 seconds\u003C/li\u003E\n                                        \u003Cli\u003EQuota: 3000 requests\u003C/li\u003E\n                                    \u003C/ul\u003E\n                                \u003C/div\u003E\n                            \u003C/div\u003E\n                        \u003C/div\u003E\n                    \u003C/div\u003E\n                \u003C/div\u003E\n            \u003C/div\u003E\n        \u003C/details\u003E\u003Cbr\u003E\n        \u003Cdetails class=\u0022sl-panel sl-outline-none sl-w-full sl-rounded-lg sl-border\u0022\u003E\n            \u003Csummary\n                class=\u0022sl-panel__titlebar sl-flex sl-items-center sl-relative focus:sl-z-10 sl-text-base sl-leading-none sl-font-medium sl-pr-4 sl-pl-3 sl-border-input focus:sl-border-primary sl-cursor-pointer sl-select-none\u0022\u003E\n                \u003Cdiv class=\u0022sl-flex sl-flex-1 sl-items-center sl-h-lg\u0022\u003E\n                    \u003Cdiv class=\u0022sl-flex sl-items-center sl-mr-1.5\u0022\u003E\n                        \u003Csvg aria-hidden=\u0022true\u0022 focusable=\u0022false\u0022 data-prefix=\u0022fas\u0022 data-icon=\u0022chevron-down\u0022\n                            class=\u0022svg-inline--fa fa-chevron-down fa-fw fa-sm sl-icon\u0022 role=\u0022img\u0022\n                            xmlns=\u0022http://www.w3.org/2000/svg\u0022 viewBox=\u00220 0 448 512\u0022\u003E\n                            \u003Cpath fill=\u0022currentColor\u0022\n                                d=\u0022M224 416c-8.188 0-16.38-3.125-22.62-9.375l-192-192c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L224 338.8l169.4-169.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-192 192C240.4 412.9 232.2 416 224 416z\u0022\u003E\n                            \u003C/path\u003E\n                        \u003C/svg\u003E\n                    \u003C/div\u003E\n                    Policy Slug: \u003Cspan class=\u0022sl-font-mono sl-font-medium sl-mx-0.5 sl-px-1 sl-py-0.5 sl-bg-code sl-text-on-code sl-rounded sl-border\u0022 style=\u0022font-size: 0.8125em;\u0022\u003E ads-custom-audience-ingestion-burst\u003C/span\u003E\n                \u003C/div\u003E\n            \u003C/summary\u003E\n            \u003Cdiv class=\u0022sl-panel__content-wrapper sl-border-t\u0022 role=\u0022region\u0022\u003E\n                \u003Cdiv class=\u0022sl-panel__content sl-p-4\u0022\u003E\n                    \u003Cdiv class=\u0022sl--m-2\u0022\u003E\n                        \u003Cdiv\u003E\n                            \u003Cdiv class=\u0022sl-m-2 sl-p-2 sl-border\u0022\u003E\n                                \u003Cdiv class=\u0022sl-prose sl-markdown-viewer\u0022 style=\u0022font-size: 12px;\u0022\u003E\n                                    \u003Cul\u003E\n                                        \u003Cli\u003EWindow: 60 seconds\u003C/li\u003E\n                                        \u003Cli\u003EQuota: 500 requests\u003C/li\u003E\n                                    \u003C/ul\u003E\n                                \u003C/div\u003E\n                            \u003C/div\u003E\n                        \u003C/div\u003E\n                    \u003C/div\u003E\n                \u003C/div\u003E\n            \u003C/div\u003E\n        \u003C/details\u003E\u003Cbr\u003E",
        "operationId": "CreateCustomAudience",
        "parameters": [
          {
            "name": "adAccountId",
            "in": "path",
            "description": "The ad account ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "title": "CreateUserRequest",
                "required": [
                  "data"
                ],
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/ComponentsSchemaCustomAudienceCreate"
                  }
                },
                "additionalProperties": false
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A custom audience.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCustomAudience200Response"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "description": "No bearer token or a bad bearer token was provided.",
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Insufficient authentication scopes.",
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "The specified resource was not found.",
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "description": "Too many requests. See [Rate Limiting](/docs/v3/guides/quick-start/rate-limiting) for header details and best practices.",
            "$ref": "#/components/responses/TooManyRequests"
          },
          "5XX": {
            "description": "Server error.",
            "$ref": "#/components/responses/ServerError"
          }
        },
        "security": [
          {
            "RedditAPIKey": [
              "adsedit"
            ]
          }
        ]
      }
    },
    "/ad_accounts/{adAccountId}/data_deletion_jobs": {
      "post": {
        "tags": [
          "Data Deletion"
        ],
        "summary": "Create Data Deletion Job",
        "description": "Create an asynchronous job to delete ads-related data for supported user identifiers. Prefer pre-hashed identifiers when supported. Learn more about [deleting user data ](/docs/v3/guides/programs/data-deletion/delete-user-data).\u003Ch2\u003ERate Limit\u003C/h2\u003E\n        \u003Cdiv\u003E\u003Ca href=\u0022/ratelimits/Ads Privacy\u0022\u003ESee the rate limits for \u003Cstrong\u003EAds Privacy\u003C/strong\u003E\u003C/a\u003E\u003C/div\u003E\u003Cbr\u003E\n        \u003Cdetails class=\u0022sl-panel sl-outline-none sl-w-full sl-rounded-lg sl-border\u0022\u003E\n            \u003Csummary\n                class=\u0022sl-panel__titlebar sl-flex sl-items-center sl-relative focus:sl-z-10 sl-text-base sl-leading-none sl-font-medium sl-pr-4 sl-pl-3 sl-border-input focus:sl-border-primary sl-cursor-pointer sl-select-none\u0022\u003E\n                \u003Cdiv class=\u0022sl-flex sl-flex-1 sl-items-center sl-h-lg\u0022\u003E\n                    \u003Cdiv class=\u0022sl-flex sl-items-center sl-mr-1.5\u0022\u003E\n                        \u003Csvg aria-hidden=\u0022true\u0022 focusable=\u0022false\u0022 data-prefix=\u0022fas\u0022 data-icon=\u0022chevron-down\u0022\n                            class=\u0022svg-inline--fa fa-chevron-down fa-fw fa-sm sl-icon\u0022 role=\u0022img\u0022\n                            xmlns=\u0022http://www.w3.org/2000/svg\u0022 viewBox=\u00220 0 448 512\u0022\u003E\n                            \u003Cpath fill=\u0022currentColor\u0022\n                                d=\u0022M224 416c-8.188 0-16.38-3.125-22.62-9.375l-192-192c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L224 338.8l169.4-169.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-192 192C240.4 412.9 232.2 416 224 416z\u0022\u003E\n                            \u003C/path\u003E\n                        \u003C/svg\u003E\n                    \u003C/div\u003E\n                    Policy Slug: \u003Cspan class=\u0022sl-font-mono sl-font-medium sl-mx-0.5 sl-px-1 sl-py-0.5 sl-bg-code sl-text-on-code sl-rounded sl-border\u0022 style=\u0022font-size: 0.8125em;\u0022\u003E ads-privacy\u003C/span\u003E\n                \u003C/div\u003E\n            \u003C/summary\u003E\n            \u003Cdiv class=\u0022sl-panel__content-wrapper sl-border-t\u0022 role=\u0022region\u0022\u003E\n                \u003Cdiv class=\u0022sl-panel__content sl-p-4\u0022\u003E\n                    \u003Cdiv class=\u0022sl--m-2\u0022\u003E\n                        \u003Cdiv\u003E\n                            \u003Cdiv class=\u0022sl-m-2 sl-p-2 sl-border\u0022\u003E\n                                \u003Cdiv class=\u0022sl-prose sl-markdown-viewer\u0022 style=\u0022font-size: 12px;\u0022\u003E\n                                    \u003Cul\u003E\n                                        \u003Cli\u003EWindow: 60 seconds\u003C/li\u003E\n                                        \u003Cli\u003EQuota: 60 requests\u003C/li\u003E\n                                    \u003C/ul\u003E\n                                \u003C/div\u003E\n                            \u003C/div\u003E\n                        \u003C/div\u003E\n                    \u003C/div\u003E\n                \u003C/div\u003E\n            \u003C/div\u003E\n        \u003C/details\u003E\u003Cbr\u003E",
        "operationId": "CreateDataDeletionJob",
        "parameters": [
          {
            "name": "adAccountId",
            "in": "path",
            "description": "The ad account ID.",
            "required": true,
            "schema": {
              "examples": [
                "t2_123456",
                "a2_123456"
              ],
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "data"
                ],
                "type": "object",
                "properties": {
                  "data": {
                    "$ref": "#/components/schemas/ComponentsSchemaSubmitDataDeletionJobRequestData"
                  }
                },
                "additionalProperties": false
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Batch job request created and queued for processing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmitDataDeletionJobResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "description": "No bearer token or a bad bearer token was provided.",
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Insufficient authentication scopes.",
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "The specified resource was not found.",
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "description": "Too many requests. See [Rate Limiting](/docs/v3/guides/quick-start/rate-limiting) for header details and best practices.",
            "$ref": "#/components/responses/TooManyRequests"
          },
          "5XX": {
            "description": "Server error.",
            "$ref": "#/components/responses/ServerError"
          }
        },
        "security": [
          {
            "RedditAPIKey": [
              "adsdatadeletion"
            ]
          }
        ]
      }
    },
    "/ad_accounts/{adAccountId}/forecasting/audience_and_delivery_estimates": {
      "post": {
        "tags": [
          "Forecasting"
        ],
        "summary": "Estimate Audience and Delivery",
        "description": "Estimate audience size and delivery outcomes for the provided campaign and ad group configurations. Outcomes that don\u0027t apply with the selected objective and optimization goal are omitted.\n\nTarget audience size estimates always use a fixed 30-day period, regardless of \u0060start_time\u0060 and \u0060end_time\u0060. Delivery estimates use the configured ad group schedule.\n\nLearn about [audience estimates](https://business.reddithelp.com/s/article/Overview-Reddit-Ads-Audience-and-Targeting#audience-estimates).\n\u003Ch2\u003ERate Limit\u003C/h2\u003E\n        \u003Cdiv\u003E\u003Ca href=\u0022/ratelimits/Audience and Delivery Estimates\u0022\u003ESee the rate limits for \u003Cstrong\u003EAudience and Delivery Estimates\u003C/strong\u003E\u003C/a\u003E\u003C/div\u003E\u003Cbr\u003E\n        \u003Cdetails class=\u0022sl-panel sl-outline-none sl-w-full sl-rounded-lg sl-border\u0022\u003E\n            \u003Csummary\n                class=\u0022sl-panel__titlebar sl-flex sl-items-center sl-relative focus:sl-z-10 sl-text-base sl-leading-none sl-font-medium sl-pr-4 sl-pl-3 sl-border-input focus:sl-border-primary sl-cursor-pointer sl-select-none\u0022\u003E\n                \u003Cdiv class=\u0022sl-flex sl-flex-1 sl-items-center sl-h-lg\u0022\u003E\n                    \u003Cdiv class=\u0022sl-flex sl-items-center sl-mr-1.5\u0022\u003E\n                        \u003Csvg aria-hidden=\u0022true\u0022 focusable=\u0022false\u0022 data-prefix=\u0022fas\u0022 data-icon=\u0022chevron-down\u0022\n                            class=\u0022svg-inline--fa fa-chevron-down fa-fw fa-sm sl-icon\u0022 role=\u0022img\u0022\n                            xmlns=\u0022http://www.w3.org/2000/svg\u0022 viewBox=\u00220 0 448 512\u0022\u003E\n                            \u003Cpath fill=\u0022currentColor\u0022\n                                d=\u0022M224 416c-8.188 0-16.38-3.125-22.62-9.375l-192-192c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L224 338.8l169.4-169.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-192 192C240.4 412.9 232.2 416 224 416z\u0022\u003E\n                            \u003C/path\u003E\n                        \u003C/svg\u003E\n                    \u003C/div\u003E\n                    Policy Slug: \u003Cspan class=\u0022sl-font-mono sl-font-medium sl-mx-0.5 sl-px-1 sl-py-0.5 sl-bg-code sl-text-on-code sl-rounded sl-border\u0022 style=\u0022font-size: 0.8125em;\u0022\u003E ads-audience-delivery-estimates\u003C/span\u003E\n                \u003C/div\u003E\n            \u003C/summary\u003E\n            \u003Cdiv class=\u0022sl-panel__content-wrapper sl-border-t\u0022 role=\u0022region\u0022\u003E\n                \u003Cdiv class=\u0022sl-panel__content sl-p-4\u0022\u003E\n                    \u003Cdiv class=\u0022sl--m-2\u0022\u003E\n                        \u003Cdiv\u003E\n                            \u003Cdiv class=\u0022sl-m-2 sl-p-2 sl-border\u0022\u003E\n                                \u003Cdiv class=\u0022sl-prose sl-markdown-viewer\u0022 style=\u0022font-size: 12px;\u0022\u003E\n                                    \u003Cul\u003E\n                                        \u003Cli\u003EWindow: 60 seconds\u003C/li\u003E\n                                        \u003Cli\u003EQuota: 10 requests\u003C/li\u003E\n                                    \u003C/ul\u003E\n                                \u003C/div\u003E\n                            \u003C/div\u003E\n                        \u003C/div\u003E\n                    \u003C/div\u003E\n                \u003C/div\u003E\n            \u003C/div\u003E\n        \u003C/details\u003E\u003Cbr\u003E",
        "operationId": "AudienceAndDeliveryEstimates",
        "parameters": [
          {
            "name": "adAccountId",
            "in": "path",
            "description": "The ad account ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AudienceAndDeliveryEstimatesRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Audience and delivery estimates.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AudienceAndDeliveryEstimates200Response"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "description": "No bearer token or a bad bearer token was provided.",
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Insufficient authentication scopes.",
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "The specified resource was not found.",
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "description": "Too many requests. See [Rate Limiting](/docs/v3/guides/quick-start/rate-limiting) for header details and best practices.",
            "$ref": "#/components/responses/TooManyRequests"
          },
          "5XX": {
            "description": "Server error.",
            "$ref": "#/components/responses/ServerError"
          }
        },
        "security": [
          {
            "RedditAPIKey": [
              "adsread"
            ]
          }
        ]
      }
    },
    "/ad_accounts/{adAccountId}/funding_instruments": {
      "get": {
        "tags": [
          "Funding Instruments"
        ],
        "summary": "List Funding Instruments",
        "description": "Retrieve funding instruments used by an ad account.\u003Ch2\u003ERate Limit\u003C/h2\u003E\n        \u003Cdiv\u003E\u003Ca href=\u0022/ratelimits/Billing\u0022\u003ESee the rate limits for \u003Cstrong\u003EBilling\u003C/strong\u003E\u003C/a\u003E\u003C/div\u003E\u003Cbr\u003E\n        \u003Cdetails class=\u0022sl-panel sl-outline-none sl-w-full sl-rounded-lg sl-border\u0022\u003E\n            \u003Csummary\n                class=\u0022sl-panel__titlebar sl-flex sl-items-center sl-relative focus:sl-z-10 sl-text-base sl-leading-none sl-font-medium sl-pr-4 sl-pl-3 sl-border-input focus:sl-border-primary sl-cursor-pointer sl-select-none\u0022\u003E\n                \u003Cdiv class=\u0022sl-flex sl-flex-1 sl-items-center sl-h-lg\u0022\u003E\n                    \u003Cdiv class=\u0022sl-flex sl-items-center sl-mr-1.5\u0022\u003E\n                        \u003Csvg aria-hidden=\u0022true\u0022 focusable=\u0022false\u0022 data-prefix=\u0022fas\u0022 data-icon=\u0022chevron-down\u0022\n                            class=\u0022svg-inline--fa fa-chevron-down fa-fw fa-sm sl-icon\u0022 role=\u0022img\u0022\n                            xmlns=\u0022http://www.w3.org/2000/svg\u0022 viewBox=\u00220 0 448 512\u0022\u003E\n                            \u003Cpath fill=\u0022currentColor\u0022\n                                d=\u0022M224 416c-8.188 0-16.38-3.125-22.62-9.375l-192-192c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L224 338.8l169.4-169.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-192 192C240.4 412.9 232.2 416 224 416z\u0022\u003E\n                            \u003C/path\u003E\n                        \u003C/svg\u003E\n                    \u003C/div\u003E\n                    Policy Slug: \u003Cspan class=\u0022sl-font-mono sl-font-medium sl-mx-0.5 sl-px-1 sl-py-0.5 sl-bg-code sl-text-on-code sl-rounded sl-border\u0022 style=\u0022font-size: 0.8125em;\u0022\u003E ads-funding-instruments\u003C/span\u003E\n                \u003C/div\u003E\n            \u003C/summary\u003E\n            \u003Cdiv class=\u0022sl-panel__content-wrapper sl-border-t\u0022 role=\u0022region\u0022\u003E\n                \u003Cdiv class=\u0022sl-panel__content sl-p-4\u0022\u003E\n                    \u003Cdiv class=\u0022sl--m-2\u0022\u003E\n                        \u003Cdiv\u003E\n                            \u003Cdiv class=\u0022sl-m-2 sl-p-2 sl-border\u0022\u003E\n                                \u003Cdiv class=\u0022sl-prose sl-markdown-viewer\u0022 style=\u0022font-size: 12px;\u0022\u003E\n                                    \u003Cul\u003E\n                                        \u003Cli\u003EWindow: 60 seconds\u003C/li\u003E\n                                        \u003Cli\u003EQuota: 30 requests\u003C/li\u003E\n                                    \u003C/ul\u003E\n                                \u003C/div\u003E\n                            \u003C/div\u003E\n                        \u003C/div\u003E\n                    \u003C/div\u003E\n                \u003C/div\u003E\n            \u003C/div\u003E\n        \u003C/details\u003E\u003Cbr\u003E",
        "operationId": "ListAccountFundingInstruments",
        "parameters": [
          {
            "name": "adAccountId",
            "in": "path",
            "description": "The ad account ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "funding_instrument_ids",
            "in": "query",
            "description": "Filter by funding instrument IDs.",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": [
              "246",
              "12345"
            ]
          },
          {
            "name": "types",
            "in": "query",
            "description": "Filter by funding instrument types.",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": [
              "SELF_SERVE",
              "CREDIT_LINE"
            ]
          },
          {
            "name": "start_time",
            "in": "query",
            "description": "Start of the time window for filtering funding instruments ([ISO 8601](https://www.iso.org/iso-8601-date-and-time-format.html)).",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2025-01-09T04:00:00Z"
          },
          {
            "name": "end_time",
            "in": "query",
            "description": "End of the time window for filtering funding instruments ([ISO 8601](https://www.iso.org/iso-8601-date-and-time-format.html)).",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2025-02-09T04:00:00Z"
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search text.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mode",
            "in": "query",
            "description": "Filter by status.",
            "schema": {
              "$ref": "#/components/schemas/ListAccountFundingInstrumentsModeParameter"
            },
            "example": "ACTIVE"
          },
          {
            "name": "is_selectable",
            "in": "query",
            "description": "Deprecated. Use \u0060mode=SELECTABLE\u0060 or \u0060mode=ALL\u0060 instead.",
            "deprecated": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "The token for the page to retrieve.",
            "$ref": "#/components/parameters/components_parameters_page_token"
          },
          {
            "description": "The number of items to be returned by page.",
            "$ref": "#/components/parameters/components_parameters_page_size"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of funding instruments.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListFundingInstrumentsResponseBody"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "description": "No bearer token or a bad bearer token was provided.",
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Insufficient authentication scopes.",
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "The specified resource was not found.",
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "description": "Too many requests. See [Rate Limiting](/docs/v3/guides/quick-start/rate-limiting) for header details and best practices.",
            "$ref": "#/components/responses/TooManyRequests"
          },
          "5XX": {
            "description": "Server error.",
            "$ref": "#/components/responses/ServerError"
          }
        },
        "security": [
          {
            "RedditAPIKey": [
              "adsread"
            ]
          }
        ]
      }
    },
    "/ad_accounts/{adAccountId}/history": {
      "post": {
        "tags": [
          "Ad Account History"
        ],
        "summary": "Get Ad Account History",
[...]
